
.col-12 {
  padding: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-12 i {
  margin-right: 15px;
  font-size: 30px;
}

.alarm {
  border: 1px solid red;
}

.alarm i{
color: red;
}

.tsunami {
  border: 1px solid blue;
}

.tsunami i{
  color: blue;
}

.relogio {
  border: 1px solid green;
}

.relogio i{
  color: green;
}