*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 3px dotted red;
}

.row {
  border: 1px solid salmon;
}

.col {
  border: 1px solid blue;
  height: 50px;
  padding: 10px;
}

.par {
  background-color: green;
}

.impar {
  background-color: yellow;
}